[submodule "tinyusb"]
	path = tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "Adafruit_SSD1306"]
	path = Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
